#line {
  margin-top: 5px;
  color: grey;
}

.top-accountpage {
  margin-top: 10px;
}

.box1 {
  display: inline-block;
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background: white;
  border-style: solid;
}

#button1 {
  margin-left: 120px;
  margin-bottom: 20px;
}

{/*Hover feature for ID*/}
#id #id-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: -60px;
  margin-top: -45px;
}

#id #id-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#id:hover #id-text {
  visibility: visible;
  opacity: 1;
}

{/*Hover feature for date*/}
#date #date-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: -70px;
  margin-top: -60px;
}

#date #date-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#date:hover #date-text {
  visibility: visible;
  opacity: 1;
}

{/*Hover feature for name*/}
#name #name-text {
  visibility: hidden;
  width: 110px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: -75px;
  margin-top: -45px;
}

#name #name-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#name:hover #name-text {
  visibility: visible;
  opacity: 1;
}

{/*Hover feature for book*/}
#book #book-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: -75px;
  margin-top: -45px;
}

#book #book-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#book:hover #book-text {
  visibility: visible;
  opacity: 1;
}

{/*Hover feature for status*/}
#status #status-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  margin-left: -80px;
  margin-top: -30px;
}

#status #status-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#status:hover #status-text {
  visibility: visible;
  opacity: 1;
}
